@if (items().length > 0) {
        <button 
            class="carousel-btn carousel-btn--prev" 
            (click)="prev()"
            [attr.aria-label]="'Previous image'"
        >
            &#8249;
        </button>
        <img
            class="carousel-image"
            [src]="currentImageUrl()"
            [alt]="altText()"
        />
        <button 
            class="carousel-btn carousel-btn--next" 
            (click)="next()"
            [attr.aria-label]="'Next image'"
        >
            &#8250;
        </button>
        @if (items().length > 1) {
            <div class="carousel-dots">
                @for (item of items(); track $index; let i = $index) {
                    <button
                        class="carousel-dot"
                        [class.carousel-dot--active]="i === currentIndex()"
                        (click)="goTo(i)"
                        [attr.aria-label]="'Go to image ' + (i + 1)"
                    ></button>
                }
            </div>
        }
}
